<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="/css/authform.css">
  <script src="/js/passwordToggle.js"></script>
</head>
<body>
  <%- include('partials/header') %>
  <div class="auth-form">
    <h2>Reset Password</h2>
    <% if (messages.error) { %>
      <p class="error"><%= messages.error %></p>
    <% } %>
    <form action="/auth/reset-password" method="POST">
      <input type="hidden" name="email" value="<%= email %>">
      <div class="form-group">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      <button type="submit" class="btn">Reset Password</button>
       <input type="checkbox" onclick="togglePasswordVisibility('password')"> Show Password
    </form>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
