<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy</title>
    <link rel="stylesheet" href="/css/Policy.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <header>
            <h1>Refund Policy</h1>
        </header>
        <section>
            <h2>Eligibility for Refunds</h2>
            <p>Refunds are eligible for items returned within 7 days of purchase. Items must be in their original condition, unworn, and with all tags attached.</p>
        </section>
        <section>
            <h2>Refund Process</h2>
            <p>Once we receive the returned items, we will inspect them and notify you of the approval or rejection of your refund. If approved, your refund will be processed, and a credit will automatically be applied to your original method of payment within 5-7 business days.</p>
        </section>
        <section>
            <h2>Late or Missing Refunds</h2>
            <p>If you haven’t received a refund yet, first check your bank account again. Then contact your credit card company, as it may take some time before your refund is officially posted. If you’ve done all of this and you still have not received your refund, please contact us at [email address].</p>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
